/* Global Styles */
body {
  margin: 0;
  font-family: "Gill Sans", sans-serif;
}

/* Buttons */
.btn,
.btn1 {
  width: 105%;
  margin: 4px 0;
  height: 70px;
  background-color: #fff;
  font-size: 1.5rem;
  line-height: 1.3rem;
  text-align: left;
  padding-left: 10%;
  font-family: "Gill Sans", sans-serif;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  border-color: #fff;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}

.btn1 {
  margin: 50px 0 4px;
}

/* Events */
.events {
  margin: 50px 7% 40px;
  border-radius: 15px;
  padding: 50px 7%;
}
.eventContent {
  font-size: 1.5rem;
  text-align: justify;
}
/* Heading */
.heading {
  font-size: 3rem;
  margin-bottom: 40px;
}

/* Specific Background Colors */
.bloodDonation {
  background-color: #95fcf1;
}

.clothDonationDrive {
  background-color: #fbf1dc;
}
.cleanlinessDrive {
  background-color: #eed8f8;
}
.runForUnity {
  background-color: #feecec;
}
.worldBicycleDay {
  background-color: #e0fbdb;
}
.worldEnvironmentDay {
  background-color: #cfe8fc;
}

/* Content */
.content {
  font-size: 1rem;
  margin: 40px 0;
  /* text-align: center; */
}

.image1 {
  width: 60%;
  min-width: 420px;
  height: 250px;
  margin: auto;
  margin-bottom: 40px;
  text-align: center;
  border-radius: 15px;
  /* padding: 50px 7%; */
}

/* Sidebar (abc) */
.abc {
  width: 20%;
}
.row {
  display: flex;
  /* justify-content: space-between;  */
}
.col {
  width: 100%;
}
/* Media Queries */
@media only screen and (max-width: 768px) {
  .abc {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .btn,
  .btn1 {
    width: 100%;
    border-radius: 30px;
    margin: 4px 0;
    font-size: 1.3rem;
    text-align: center;
    padding: 10px 0;
  }

  .events {
    width: 100%;
    margin: 20px auto;
    padding: 30px 5%;
  }

  .heading {
    font-size: 2rem;
    margin-bottom: 20px;
  }

  .image1 {
    width: 80%;

    height: 250px;
    margin-bottom: 20px;
  }

  .col {
    flex: 1;
  }
  .row {
    flex-direction: column;
  }
}
